body{
    background: #fefefe;
}
.img_h100{
    height: 100%;
}
.nav{
    background: #3d3d3d;
}
.layui-nav{
    background: #3d3d3d;

}
.layui-nav .layui-nav-item a{
    color:#fff;
}
.layui-nav .layui-nav-item a:hover{
    color:#cf101c;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
    background-color: #cf101c;
}
#top{
    width: 50px;
    height: 50px;
    position: fixed;
    right:80px ;
    bottom: 80px;
    background-color: #1d6168;
    padding: 1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 3px;
    -webkit-transition: all .3s;
    display: none;
}
#top i{
    color:#fff;
    font-size:50px;
    text-align: center;
    line-height: 50px;
}
#top:hover{
    background-color: #104b51;
    text-decoration: none;
}
#top a:hover{
    text-decoration: none;
}
.text_c{
    text-align: center;
}
.text_r{
    text-align: right;
}
.color_fff{
    color:#fff;
}
.color_cf{
    color:#cf101c;
}
.color_333{
    color:#333;
}
.color_333{
    color:#666;
}
.margin_top5{
    margin-top:5px;
}
.margin_top10{
    margin-top:10px;
}
.margin_top15{
    margin-top:15px;
}
.margin_top20{
    margin-top:20px;
}
.margin_top30{
    margin-top:30px;
}
.margin_top40{
    margin-top:40px;
}
.margin_top50{
    margin-top:50px;
}
.padding_tb10{
    padding: 10px 0;
}
.padding_tb20{
    padding: 20px 0;
}
.padding_tb30{
    padding: 30px 0;
}
.padding_tb40{
    padding: 40px 0;
}
.padding_tb50{
    padding: 50px 0;
}
.icp{
    font-size: 10px;
    color: #f0f0f0;
}
.img_100{
    width: 100%;
}
.h2{
    font-size: 30px;
}
.h3_btm{
    border-bottom: 2px solid #cf101c;
    padding-bottom: 10px;
}
.case .case_content li div h2{
    transition: .3s all;
}
.case .case_content li div h2:hover{
    color:#cf101c;
}