.about .about_content p{
    font-size: 16px;
    line-height: 38px;
    text-indent: 2em;
}

.goodness{

}
.goodness ul li{
    margin-top: 30px;
}
.goodness ul li i{
    font-size: 80px;
    text-align: center;
    color:#cf101c;
}
.goodness ul li h3{
   margin-top: 15px;
}
.team .layui-col-md4{
    padding-right: 20px;
}
.team .layui-col-md6{
    padding-left: 10px;
}
.team .layui-col-md6 span{
    display: inline-block;
}
.team .layui-col-md6 p{
    line-height: 26px;
    text-indent: 2em;
    margin-top: 10px;
    color:#333;
}
.case{
    margin: 30px 0;
}
.case .case_content li {
    margin-top: 30px;
}
.case .case_content li img{

    width: 100%;
}
.case .case_content li div{
    padding:0 10px;
    color:#333
}
.case .case_content li div p{
    margin: 10px 0;
    color:#666;
    line-height: 26px;
}












